@charset "UTF-8";
/*@function pxToRem($number){
     @return ( $number ) / ( $design-diagram / 10 ) * 1rem;
 }*/
.no-onclick {
  pointer-events: none; }

.flex-item-vertical {
  overflow: auto;
  /* winphone8和android4+ */
  -webkit-overflow-scrolling: touch;
  /* ios5+ */ }
  .flex-item-vertical::-webkit-scrollbar {
    width: 0;
    height: 0; }

html {
  height: 100%;
  background-color: transparent;
  outline: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  font-size: 32px;
  font-family: 'Proxima Nova','Helvetica Neue','San Francisco','Muli','sans-serif'; }

html::-webkit-scrollbar {
  width: 0px; }

@font-face {
  font-family: DINAlternateBold;
  src: url("../framework/DINAlternateBold.ttf"); }

body {
  min-height: 100%;
  font-size: 14px;
  line-height: 1.2;
  color: #333; }

a,
aside,
article,
body,
blockquote,
code,
cite,
div,
dl,
dt,
dd,
del,
em,
footer,
figcaption,
figure,
form,
fieldset,
header,
h1,
h2,
h3,
h4,
h5,
h6,
input,
img,
li,
legend,
mark,
nav,
ol,
p,
pre,
section,
span,
strong,
th,
td,
time,
textarea,
ul,
var {
  margin: 0;
  padding: 0; }

article,
aside,
div,
header,
section,
footer,
nav,
figure,
li {
  display: block; }

th {
  font-weight: normal; }

input,
textarea,
button,
select,
label,
[contenteditable] {
  outline: none;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font: inherit;
  padding: 0;
  background: transparent;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: text; }

input,
textarea {
  width: 100%; }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #bbb; }
  input[type=search]::-webkit-search-cancel-button,
  textarea[type=search]::-webkit-search-cancel-button {
    display: none;
    -webkit-appearance: none; }

select, textarea {
  width: 100%; }

textarea {
  resize: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  font-weight: normal;
  outline: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent; }

img {
  border: none;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  pointer-events: none; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: middle; }

[contenteditable]:empty::before {
  content: attr(placeholder);
  color: #ccc; }

[contenteditable]:focus::before:empty::before {
  content: attr(placeholder); }

[contenteditable]:focus::before:not(:empty)::before {
  content: initial; }

video {
  width: 100%; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none; }

input[type=text],
input[type=password],
input[type=tel],
input[type=number] {
  width: 100%; }

input[type=radio] + label {
  cursor: pointer;
  position: relative;
  padding-left: 1.5em;
  font-size: 1em;
  color: inherit; }
  input[type=radio] + label::before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    left: 1px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 0 1px #bbb;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }

input[type=radio] + label::before {
  border-radius: 50%;
  border: .25em solid #fff; }

input[type=radio]:checked + label::before {
  background-color: #00a0e9;
  box-shadow: 0 0 0 1px #00a0e9; }

input[type=checkbox] {
  display: none; }
  input[type=checkbox] ~ label {
    vertical-align: middle; }

input[type=checkbox][last] ~ label:last-of-type {
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #bbb;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transform: rotatez(-137deg);
  -moz-transform: rotatez(-137deg);
  -ms-transform: rotatez(-137deg);
  -o-transform: rotatez(-137deg);
  transform: rotatez(-137deg); }

input[type=checkbox][last]:checked ~ label:last-of-type {
  background-color: #ff5363;
  border-color: #ff5363;
  position: relative; }
  input[type=checkbox][last]:checked ~ label:last-of-type::before {
    content: "";
    position: absolute;
    width: .1em;
    height: .6em;
    background-color: #fff;
    top: .25em;
    left: .35em; }
  input[type=checkbox][last]:checked ~ label:last-of-type::after {
    content: "";
    position: absolute;
    width: .4em;
    height: .1em;
    background-color: #fff;
    top: .25em;
    left: 0.35em; }

[contenteditable]:empty::before {
  color: #BEBFC0; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc; }

.show {
  display: block; }

.hide {
  display: none !important; }

.hover {
  opacity: .8; }

.flex-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }

.flex-vertical {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%; }

.flex-item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1; }

.flex-item-vertical {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1; }

.font-m, .coupon .coupon-item .message .use .use-word {
  font-family: 'PingFangSC-Medium'; }

.font-l {
  font-family: 'PingFangSC-Light'; }

.font-t {
  font-family: 'PingFangSC-Thin'; }

.font-r {
  font-family: 'PingFangSC-Regular'; }

.font-b, .coupon .coupon-item .price .num .size {
  font-family: 'PingFangSC-Bold'; }

.font-s, .coupon .coupon-item .price .num {
  font-family: 'PingFangSC-Semibold'; }

.font-din, .coupon .coupon-item .price .num .size {
  font-family: 'DINAlternateBold'; }

/*优惠券css样式*/
.coupon {
  border-radius: 3px; }
  .coupon .coupon-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap; }
    .coupon .coupon-item .line {
      width: 12px;
      background-image: -webkit-radial-gradient(circle, transparent 5px, #bbb 5px, #fff 6px);
      background-image: -moz-radial-gradient(circle, transparent 5px, #bbb 5px, #fff 6px);
      background-image: -ms-radial-gradient(circle, transparent 5px, #bbb 5px, #fff 6px);
      background-image: -o-radial-gradient(circle, transparent 5px, #bbb 5px, #fff 6px);
      background-image: radial-gradient(circle, transparent 5px, #bbb 5px, #fff 6px);
      background-size: 100% 50%;
      background-position: center;
      background-repeat: repeat-y;
      position: relative; }
      .coupon .coupon-item .line::before {
        content: '';
        display: block;
        width: 1px;
        background-image: -webkit-repeating-linear-gradient(0deg, #ccc, #ccc 4px, #fff 0, #fff 8px);
        background-image: -moz-repeating-linear-gradient(0deg, #ccc, #ccc 4px, #fff 0, #fff 8px);
        background-image: -ms-repeating-linear-gradient(0deg, #ccc, #ccc 4px, #fff 0, #fff 8px);
        background-image: -o-repeating-linear-gradient(0deg, #ccc, #ccc 4px, #fff 0, #fff 8px);
        background-image: repeating-linear-gradient(0deg, #ccc, #ccc 4px, #fff 0, #fff 8px);
        position: absolute;
        left: 50%;
        top: 5px;
        bottom: 5px;
        z-index: 1;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); }
      .coupon .coupon-item .line::after {
        content: '';
        display: block;
        width: 100%;
        position: absolute;
        top: 8%;
        bottom: 8%;
        background-color: #fff; }
    .coupon .coupon-item .price {
      position: relative;
      min-width: 76px;
      padding: 10px 9px 10px 10px;
      border: 1px solid #EAEAEA;
      box-shadow: 0px 4px 16px -4px rgba(0, 0, 0, 0.08);
      border-right: 0;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      background-color: #fff; }
      .coupon .coupon-item .price .num {
        font-size: 12px;
        color: #fff;
        background-color: #FE8F31;
        text-align: center;
        padding: 14px 0 3px; }
        .coupon .coupon-item .price .num .size {
          font-size: 20px;
          display: inline-block; }
      .coupon .coupon-item .price .voucher {
        font-size: 11px;
        color: #FE8F31;
        line-height: 25px;
        text-align: center;
        border: 1px solid #FE8F31; }
    .coupon .coupon-item .message {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: flex-start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      align-items: stretch;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      background-color: #fff;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      flex: 1;
      border: 1px solid #EAEAEA;
      border-left: 0;
      box-shadow: 0px 4px 16px -4px rgba(0, 0, 0, 0.08);
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      padding: 10px 17px;
      position: relative; }
      .coupon .coupon-item .message .message-item {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: flex-start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        align-items: stretch;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1; }
        .coupon .coupon-item .message .message-item .shop-name {
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          flex: 1;
          font-size: 14px;
          color: #333;
          line-height: 20px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 2;
          -moz-line-clamp: 2;
          -ms-line-clamp: 2;
          -o-line-clamp: 2;
          line-clamp: 2; }
        .coupon .coupon-item .message .message-item .base .subtitle {
          font-size: 12px;
          color: #666;
          line-height: 17px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          -webkit-line-clamp: 1;
          -moz-line-clamp: 1;
          -ms-line-clamp: 1;
          -o-line-clamp: 1;
          line-clamp: 1; }
          .coupon .coupon-item .message .message-item .base .subtitle del {
            background-color: #F6F6F6;
            border-radius: 3px;
            font-size: 11px;
            color: #999;
            padding: 2px 4px; }
        .coupon .coupon-item .message .message-item .base .market-price .market {
          display: inline-block;
          padding: 0 3px;
          font-size: 11px;
          color: #FF4F00;
          line-height: 22px;
          background-color: rgba(255, 79, 0, 0.05);
          border-radius: 2.5px; }
        .coupon .coupon-item .message .message-item .base .time {
          padding-top: 5px;
          font-size: 12px;
          color: #666;
          line-height: 17px; }
      .coupon .coupon-item .message .use-right {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: flex-start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        align-items: stretch;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        position: absolute;
        right: 17px;
        top: 10px; }
      .coupon .coupon-item .message .use {
        display: inline-block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        text-align: center;
        margin-left: 10px;
        -webkit-align-self: flex-end;
        -moz-align-self: flex-end;
        -ms-align-self: flex-end;
        -o-align-self: flex-end;
        align-self: flex-end;
        background: linear-gradient(286deg, #ff7c4a 0%, #fba75e 100%);
        box-shadow: 0px 8px 20px -4px rgba(255, 124, 74, 0.3);
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap; }
        .coupon .coupon-item .message .use .use-word {
          display: inline-block;
          font-size: 10px;
          color: #fff;
          line-height: 14px;
          text-align: center;
          width: 63%;
          text-indent: 1px; }
          .coupon .coupon-item .message .use .use-word.active {
            text-indent: initial; }

.model-fixd {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); }

#toast {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(56, 56, 56, 0.8);
  border-radius: 45px;
  max-width: 90%;
  font-size: 14px;
  color: #fff;
  text-align: center;
  word-break: break-all;
  padding: 3px 10px; }

.gradient {
  background: linear-gradient(134deg, #ef5921 0%, #f48c5b 100%);
  background: -webkit-linear-gradient(134deg, #ef5921 0%, #f48c5b 100%); }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
  background-color: #fff;
  color: #333;
  position: relative; }
  .header:not(:empty) {
    min-height: 44px; }
  .header::after {
    border-bottom: 1px solid #706776;
    width: 100%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    -o-transform: scaleY(0.5);
    transform: scaleY(0.5);
    -webkit-transform-origin: 50% 100% 0;
    -moz-transform-origin: 50% 100% 0;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100% 0; }
  .header::after {
    border-color: #EAEAEA; }
  .header .back {
    position: absolute;
    bottom: 0;
    left: 0; }
    .header .back.right {
      right: 0;
      left: auto; }
    .header .back.word {
      line-height: 44px;
      padding: 0 15px;
      font-size: 13px;
      color: #FE8F31; }
    .header .back.icon-back {
      padding: 11px 10px;
      width: 22px;
      height: 22px;
      z-index: 1;
      background: url("../image/icon-back.png") center center/22px auto no-repeat transparent;
      -webkit-align-self: center;
      -moz-align-self: center;
      -ms-align-self: center;
      -o-align-self: center;
      align-self: center; }
  .header .title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-size: 18px;
    height: pxToRe(88);
    line-height: 44px;
    text-align: center;
    color: #333;
    /*@include prefixCss3($property: align-self, $value: center);*/
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0; }

#no-data {
  height: 100vh;
  text-align: center;
  color: #666;
  font-size: 18px;
  line-height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap; }
  #no-data.height1 {
    height: 10vh; }
  #no-data.height2 {
    height: 20vh; }
  #no-data.height3 {
    height: 30vh; }
  #no-data.height4 {
    height: 40vh; }
  #no-data.height5 {
    height: 50vh; }
  #no-data.height6 {
    height: 60vh; }
  #no-data.height7 {
    height: 70vh; }
  #no-data.height8 {
    height: 80vh; }
  #no-data.height9 {
    height: 90vh; }
  #no-data::after {
    content: '';
    display: block;
    height: 160px;
    width: 160px;
    margin: 8px auto;
    background: url("../image/icon-nodata1.png") center bottom/160px auto no-repeat transparent; }

.rich-text {
  max-width: 100%;
  word-break: break-all; }
  .rich-text * {
    max-width: 100% !important; }

.pre-text {
  white-space: pre-wrap;
  word-break: break-all; }

.cursor-pointer {
  cursor: pointer; }

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
  color: fff;
  height: 0; }

body {
  background-color: #FBFCFF !important; }
  body .search-stores {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    height: 56px; }
    body .search-stores .search {
      background: #F2F7FB;
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      padding: 3px;
      box-shadow: 0 4px 12px -4px #F2F7FB;
      border-radius: 10px; }
      body .search-stores .search .after-btn {
        display: inline-block;
        width: 80px;
        height: 50px;
        color: #75a7fb;
        line-height: 50px;
        margin-right: 8px;
        vertical-align: middle;
        padding-left: 16px; }
      body .search-stores .search .search-img {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        vertical-align: middle;
        padding-left: 16px;
        background: url("../image/v2/ic_search.png") center center/24px auto no-repeat transparent; }
      body .search-stores .search .input {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        font-size: 13px;
        color: #333;
        vertical-align: middle; }
        body .search-stores .search .input input {
          font-size: 16px;
          color: #A2A5B1;
          line-height: 50px; }
  body .main {
    border-top: 1px sold red; }
    body .main .flex-item-vertical {
      height: 100%;
      overflow-x: hidden;
      margin: 0; }
      body .main .flex-item-vertical .header2 {
        position: relative;
        margin: 0 24px;
        min-height: 30px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: flex-start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        align-items: stretch;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap; }
        body .main .flex-item-vertical .header2 .header-left {
          width: 80%;
          padding-bottom: 10px; }
          body .main .flex-item-vertical .header2 .header-left .logo-container {
            padding: 12px 0; }
            body .main .flex-item-vertical .header2 .header-left .logo-container .logo {
              display: inline-block;
              width: 81px;
              height: 21px;
              background: url("../image/v2/ic_logo.png") center/cover no-repeat transparent; }
          body .main .flex-item-vertical .header2 .header-left .info {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: flex-start;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
            -webkit-box-align: stretch;
            -webkit-align-items: stretch;
            align-items: stretch;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-box-orient: horizontal;
            -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
            padding-top: 12px; }
            body .main .flex-item-vertical .header2 .header-left .info .text {
              font-size: 14px;
              letter-spacing: 0.28px; }
            body .main .flex-item-vertical .header2 .header-left .info .hand {
              display: inline-block;
              width: 14px;
              height: 14px;
              background: url("../image/v2/img_hand.png") center/cover no-repeat transparent;
              margin-left: 3px; }
        body .main .flex-item-vertical .header2 .header-right {
          width: 20%; }
          body .main .flex-item-vertical .header2 .header-right .cart {
            display: inline-block;
            position: relative;
            top: 20px;
            width: 56px;
            height: 56px;
            background: url("../image/v2/ic_heart_padding.png") center/cover no-repeat transparent; }
            body .main .flex-item-vertical .header2 .header-right .cart .cart-ic {
              width: 16px;
              height: 16px;
              background: url("../image/v2/ic_no.png") center/cover no-repeat transparent;
              z-index: 2;
              text-align: center;
              float: right;
              color: #FFFFFF;
              font-size: 10px; }
      body .main .flex-item-vertical .top {
        margin: 0 24px;
        padding-top: 4px;
        padding-bottom: 10px; }
        body .main .flex-item-vertical .top .title {
          font-size: 24px;
          font-weight: bold;
          letter-spacing: -0.05px; }
      body .main .flex-item-vertical .break-line {
        margin: 0 24px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        align-items: stretch;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin-bottom: 8.5px;
        padding-top: 16px; }
        body .main .flex-item-vertical .break-line .title {
          font-size: 21px;
          font-weight: bold; }
        body .main .flex-item-vertical .break-line .time {
          font-size: 15px;
          font-weight: bold;
          color: #FF852A; }
      body .main .flex-item-vertical .classification {
        margin-top: 8.5px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: flex-start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        align-items: stretch;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap; }
        body .main .flex-item-vertical .classification .gap {
          position: relative;
          display: inline-block;
          width: 228px;
          height: 124px;
          vertical-align: middle;
          background: url("../image/v2/img_coupon.png") center center/228px auto no-repeat transparent;
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: flex-start;
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
          -webkit-box-align: stretch;
          -webkit-align-items: stretch;
          align-items: stretch;
          -webkit-flex-direction: row;
          flex-direction: row;
          -webkit-box-orient: horizontal;
          -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap;
          margin-left: 5px;
          margin-right: -24px; }
          body .main .flex-item-vertical .classification .gap .left {
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-pack: flex-start;
            -webkit-justify-content: flex-start;
            justify-content: flex-start;
            -webkit-box-align: stretch;
            -webkit-align-items: stretch;
            align-items: stretch;
            -webkit-flex-direction: column;
            flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap;
            position: absolute;
            top: 28px;
            left: 38px; }
            body .main .flex-item-vertical .classification .gap .left .logo {
              display: inline-block;
              width: 40px;
              height: 40px;
              vertical-align: middle; }
            body .main .flex-item-vertical .classification .gap .left .name {
              text-transform: capitalize;
              font-size: 10px;
              color: #848484;
              margin-top: 7px; }
          body .main .flex-item-vertical .classification .gap .line {
            position: absolute;
            top: 28px;
            left: 90px;
            display: inline-block;
            width: 1px;
            height: 67px;
            vertical-align: middle;
            background: url("../image/v2/ic_dotted_line.png") center center/1px auto no-repeat transparent; }
          body .main .flex-item-vertical .classification .gap .right {
            position: absolute;
            top: 28px;
            left: 106px; }
            body .main .flex-item-vertical .classification .gap .right .title .red {
              text-transform: uppercase;
              background-color: #FDEEEB;
              border-radius: 10px;
              color: #F3562F;
              font-size: 8px;
              padding: 4px 8px;
              font-weight: bold;
              line-height: 10px;
              letter-spacing: 0.4px; }
            body .main .flex-item-vertical .classification .gap .right .title .blue {
              text-transform: uppercase;
              background-color: #E7F1FF;
              border-radius: 10px;
              color: #3895FA;
              font-size: 8px;
              padding: 4px 8px;
              font-weight: bold;
              line-height: 10px;
              letter-spacing: 0.4px; }
            body .main .flex-item-vertical .classification .gap .right .number {
              display: -webkit-box;
              display: -webkit-flex;
              display: flex;
              -webkit-box-pack: flex-start;
              -webkit-justify-content: flex-start;
              justify-content: flex-start;
              -webkit-box-align: stretch;
              -webkit-align-items: stretch;
              align-items: stretch;
              -webkit-flex-direction: row;
              flex-direction: row;
              -webkit-box-orient: horizontal;
              -webkit-flex-wrap: nowrap;
              flex-wrap: nowrap;
              margin-top: 10px; }
              body .main .flex-item-vertical .classification .gap .right .number .percentage {
                font-size: 25px; }
              body .main .flex-item-vertical .classification .gap .right .number span {
                color: #848484;
                padding-left: 6px; }
      body .main .flex-item-vertical .promotions {
        margin: 0 24px;
        padding-bottom: 16px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        align-items: stretch;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap; }
        body .main .flex-item-vertical .promotions .promotion {
          position: relative;
          width: 48%;
          height: 190px;
          margin-top: 16px;
          display: -webkit-box;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: flex-start;
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
          -webkit-box-align: stretch;
          -webkit-align-items: stretch;
          align-items: stretch;
          -webkit-flex-direction: column;
          flex-direction: column;
          -webkit-box-orient: vertical;
          -webkit-flex-wrap: nowrap;
          flex-wrap: nowrap; }
          body .main .flex-item-vertical .promotions .promotion .logo {
            position: absolute;
            top: 20px;
            left: 17px;
            display: inline-block;
            width: 43px;
            height: 13px;
            vertical-align: middle;
            background: url("../image/v2/ic_logo_prom.png") center center/43px auto no-repeat transparent; }
          body .main .flex-item-vertical .promotions .promotion .title {
            position: absolute;
            top: 41px;
            left: 17px;
            font-size: 20px;
            font-weight: bold;
            width: 80%;
            letter-spacing: 0.4px; }
          body .main .flex-item-vertical .promotions .promotion .photo {
            position: absolute;
            bottom: 0px;
            right: 0px; }
        body .main .flex-item-vertical .promotions .orange {
          background-color: #F0C77E;
          border-radius: 15px;
          color: #C98408; }
        body .main .flex-item-vertical .promotions .darkorange {
          background-color: #FF8D38;
          color: #CB5904;
          border-radius: 15px; }
      body .main .flex-item-vertical .categories {
        margin: 0 24px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: space-between;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        -webkit-box-align: stretch;
        -webkit-align-items: stretch;
        align-items: stretch;
        -webkit-flex-direction: row;
        flex-direction: row;
        -webkit-box-orient: horizontal;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap; }
        body .main .flex-item-vertical .categories .grocery {
          display: inline-block;
          width: 64px;
          height: 64px;
          vertical-align: middle;
          background: url("../image/v2/ic_grocery.png") center center/64px auto no-repeat transparent; }
        body .main .flex-item-vertical .categories .gift {
          display: inline-block;
          width: 64px;
          height: 64px;
          vertical-align: middle;
          background: url("../image/v2/ic_gift.png") center center/64px auto no-repeat transparent; }
        body .main .flex-item-vertical .categories .food {
          display: inline-block;
          width: 64px;
          height: 64px;
          vertical-align: middle;
          background: url("../image/v2/ic_food.png") center center/64px auto no-repeat transparent; }
        body .main .flex-item-vertical .categories .clothing {
          display: inline-block;
          width: 64px;
          height: 64px;
          vertical-align: middle;
          background: url("../image/v2/ic_clothing.png") center center/64px auto no-repeat transparent; }
  body .blank {
    height: 44px; }
  body .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-shadow: 0px -2px 8px 0px rgba(215, 215, 215, 0.5);
    -moz-box-shadow: 0px -2px 8px 0px rgba(215, 215, 215, 0.5);
    -ms-box-shadow: 0px -2px 8px 0px rgba(215, 215, 215, 0.5);
    -o-box-shadow: 0px -2px 8px 0px rgba(215, 215, 215, 0.5);
    box-shadow: 0px -2px 8px 0px rgba(215, 215, 215, 0.5);
    height: 68px;
    background-color: #FFFFFF; }
    body .footer .foot-icons {
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: flex-start;
      -webkit-justify-content: flex-start;
      justify-content: flex-start;
      -webkit-box-align: stretch;
      -webkit-align-items: stretch;
      align-items: stretch;
      -webkit-flex-direction: row;
      flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-flex-wrap: nowrap;
      flex-wrap: nowrap;
      width: 100%; }
      body .footer .foot-icons .footer-item {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: flex-start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-box-orient: vertical;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        color: #333;
        font-size: 11px;
        line-height: 11px;
        padding: 10px 0 10px; }
        body .footer .foot-icons .footer-item::before {
          content: '';
          display: inline-block;
          width: 24px;
          height: 24px;
          background: url("../image/v2/ic_home_active.png") center/100% auto no-repeat transparent; }
        body .footer .foot-icons .footer-item.active {
          color: #FE8F31; }
          body .footer .foot-icons .footer-item.active::before {
            width: 24px;
            height: 24px;
            background: url("../image/v2/ic_home_active.png") center/100% auto no-repeat transparent; }
        body .footer .foot-icons .footer-item.icon-home::before {
          width: 24px;
          height: 24px;
          background: url("../image/v2/ic_home_active.png") center/100% auto no-repeat transparent; }
        body .footer .foot-icons .footer-item.icon-home.active::before {
          width: 24px;
          height: 24px;
          opacity: 1;
          background: url("../image/v2/ic_home_active.png") center/100% auto no-repeat transparent; }
        body .footer .foot-icons .footer-item.icon-deal::before {
          width: 18.74px;
          height: 17.81px;
          opacity: 0.5;
          background: url("../image/v2/ic_deal.png") center/100% auto no-repeat transparent; }
        body .footer .foot-icons .footer-item.icon-deal.active::before {
          width: 18.74px;
          height: 17.81px;
          opacity: 1;
          background: url("../image/v2/ic_deal.png") center/100% auto no-repeat transparent; }
        body .footer .foot-icons .footer-item.icon-search::before {
          width: 24px;
          height: 24px;
          background: url("../image/v2/ic_search.png") center/100% auto no-repeat transparent; }
        body .footer .foot-icons .footer-item.icon-search.active::before {
          width: 24px;
          height: 24px;
          background: url("../image/v2/ic_search.png") center/100% auto no-repeat transparent; }
        body .footer .foot-icons .footer-item.icon-bag::before {
          width: 24px;
          height: 24px;
          background: url("../image/v2/ic_bag.png") center/100% auto no-repeat transparent; }
        body .footer .foot-icons .footer-item.icon-bag.active::before {
          width: 24px;
          height: 24px;
          background: url("../image/v2/ic_bag.png") center/100% auto no-repeat transparent; }
        body .footer .foot-icons .footer-item.icon-profile::before {
          width: 24px;
          height: 24px;
          background: url("../image/v2/ic_profile.png") center/100% auto no-repeat transparent; }
        body .footer .foot-icons .footer-item.icon-profile.active::before {
          width: 24px;
          height: 24px;
          background: url("../image/v2/ic_profile.png") center/100% auto no-repeat transparent; }
    body .footer .foot-bottom {
      text-align: center; }
      body .footer .foot-bottom hr {
        border: 5px solid #000000;
        border-radius: 5px;
        width: 36%; }
  body .earn_rewards .earn {
    min-width: 100px;
    height: 100px; }
  body .earn_rewards .gift {
    background: url(../image/v2/img_gift.png) no-repeat center;
    background-size: 70%; }
  body .earn_rewards .couponq {
    background: url(../image/v2/img_couponq.png) no-repeat center;
    background-size: 70%; }
  body .earn_rewards .title {
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: bold; }
  body .earn_rewards .content {
    font-size: 14px;
    color: #cacaca;
    margin-top: 10px;
    line-height: 20px; }

.order .tabbar {
  display: flex;
  justify-content: space-between;
  flex: 1;
  border-bottom: 1px solid #f2f2f2; }
  .order .tabbar .item {
    text-align: center;
    width: 100%;
    height: 40px;
    line-height: 40px; }
  .order .tabbar .active {
    border-bottom: 2px solid var(--primary);
    color: var(--primary);
    font-weight: bold; }
