@charset 'utf-8';
@import "public/_config.scss";
body {
    .wrap{
        width: 75%;
        text-align: center;
        background-color: white;
        border-radius: pxToRem(14);
        @include prefixCss3( $property: transform, $value: translate(-50%, -50%));
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: 1;
        .text{
            // padding: pxToRem(42) pxToRem(30) pxToRem(28);
            .title{
                // padding: pxToRem(10) 0;
                padding: pxToRem(64) pxToRem(30) 0 pxToRem(30);
                font-size: pxToRem(36);
                color: #262525;
                line-height: pxToRem(50)
            }
            .msg{
                color: #666;
                line-height: pxToRem(40);
                max-height: pxToRem(400);
                @extend %scroll;
                font-size: pxToRem(34);
                padding: pxToRem(64) pxToRem(60) pxToRem(60);
            }
        }
        .footer{
            @include border-top-m(solid, #eee);
            @include flex-box();
            .item{
                @include flex-item();
                line-height: pxToRem(100);
                color: #000;
                font-size: pxToRem(32);
                &:not(:first-child){
                    // border-left: pxToRem(2) solid #e5e5e5;
                    @include border-left-m(solid, #eee);
                }
                &.active{
                    color: $bg-color;
                }
            }
        }
    }
}
