@charset 'utf-8';
@import "public/_config.scss";

body{
    // background:rgba(26,26,26,1);
}
.header-top{
    background:rgba(26,26,26,1);
}
#myMap{
	width: 100%;
	height: 100%;
}
.address{
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: white;
	padding: pxToRem(40);
	line-height: pxToRem(46);
	color: #333;
}
