<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
    <meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
    <link rel="stylesheet" href="../../css/signIn.css">
    <link rel="stylesheet" href="../../css/login.css">
</head>

<body>
    <div class="main flex-vertical" id="wrap">

    </div>


    <script type="text/html" id="wrap-template">

        <div class="mainTop" >
            <!-- <div class="top">
            </div> -->
            <div class="signin setPsd">
                <div class="sign">
                   {{if _param.isEdit}}
                   <div>Edit</div>
                   {{else}}
                    <div>Forgot</div>
                    {{/if}}
                    <div>Password</div>
                </div>
                {{if !_param.isEdit}}
                <div class="register" tapmode="hover" onclick="fnOpen('sign/register_win.html')">
                    <span>{{'还没有帐号？' | fnLanguage_public}} </span>
                     <span>{{'点击注册' | fnLanguage_public}}</span>
                 </div>
                 {{/if}}
            </div>
            <div class="tabTitle">

                <div class="tab-mail tab-title" tapmode="hover" onclick="fnSwitchTable(this)" data-class="sw-mail">
                    <p>{{'邮箱' | fnLanguage_public}}</p>
                    <p></p>
                </div>
                <div class="tab-phone tab-title clickP" tapmode="hover" onclick="fnSwitchTable(this)" data-class="sw-mobile">
                    <p>{{'手机号' | fnLanguage_public}}</p>
                    <p></p>
                </div>
            </div>
        </div>

		<div class="main flex-item-vertical heheda login_bg_rg">

			<div class="ul">
                <div class="li sw sw-mobile">
                    <!-- <span class="name down" tapmode="hover" onclick="fnOpen('sign/areaCode_win.html')"><span class="star">*</span>+44</span> -->
                    <div class="input">
                        <div class="country_code">+44</div>
                        <input id="mobile" data-limit-type="Number" maxlength="11" type="tel" placeholder="Phone Number"
                            {{if _user}}
                                readonly
                                value="{{_user.mobile}}"
                            {{/if}}/>
                    </div>
                    {{if ! _user}}
                        <div tapmode="hover" onClick="fnClear(this)" class="eliminate clear-input hide"></div>
                    {{/if}}
                </div>

                <div class="li sw sw-mail hide">
                    <div class="input">
                        <input id="email" data-limit-type="Email" maxlength="30" type="text" placeholder="Email Address"
                            {{if _user }}
                                readonly
                                value="{{_user.user_email}}"
                            {{/if}} />
                    </div>
                    {{if ! _user}}
                        <div tapmode="hover" onClick="fnClear(this)" class="eliminate clear-input hide"></div>
                    {{/if}}
                </div>

				<div class="li">
                    <div class="input">
                        <input id="verification_code" data-limit-type="Number" maxlength="4" type="tel" placeholder="Authentication Code">
                    </div>
                    <!-- 倒计时加no-noclick -->
                    <div tapmode="hover" onclick="fnSendCode(this)" class="code">{{'获取验证码' | fnLanguage_public}}</div>
				</div>
				<div class="li">
					<div class="input">
                        <input id="user_pass" maxlength="18" data-limit-type="Alphanumeric" type="password" placeholder="Password">
					</div>
					<!-- 显示加active -->
                    <div tapmode="hover" onClick="fnSwitchEye_base(this)" class="eye"></div>
				</div>
			</div>
            <!-- 不能点击置灰加no-onclick -->
            <div class='submit-wrap'>
                <div class="confirm confirmTo" tapmode="hover" onclick="fnSubmit()">{{'确定' | fnLanguage_public}}</div>
            </div>
		</div>
    </script>
</body>
<script type="text/javascript" src="../../framework/template-web.js"></script>
<script type="text/javascript" src="../../framework/zepto.min.js"></script>
<script type="text/javascript" src="../../script/language.js"></script>
<script type="text/javascript" src="../../script/public.js"></script>
<script type="text/javascript" src="../../script/base.js"></script>
<script type="text/javascript">
    // 页面初始化
    APP.init(function () {
        fnUser_public({
            isLastData: true        //必填     |      |     Boolean  |  是否使用上一次的数据（如果为true返回数据速度更快）
        }, function (_user) {
            if (_user) {
                // 当前登陆了用户
                APP._user = _user.user;
            } else {
                // 当前没有登陆用户
            }

            fnValue('#wrap', template('wrap-template', APP));
            fnSwitchTable($('.tab-mail'));
            APP.fixStatusBar('.top');
            console.log(typeof APP._param.isEdit)
            fnInputListener_public(['#mobile', '#verification_code', '#user_pass'], function () {
                fnInput();
            })
            fnSetCountryFix(APP.COUNTRY_JSON[0]);
        })
    });


    function fnInput() {
        $('.clear-input').each(function (_index, _el) {
            var _input = $(_el).parent().find('input');
            if (fnValue(_input[0]).length) {
                $(_el).removeClass('hide');
            } else {
                $(_el).addClass('hide');
            }
        })
        var _data = fnGetUsername();
        // if( fnValue('#user_pass').length && fnValue('#verification_code').length && _data.username ){
        //     $('.confirm').removeClass('no-onclick');
        // }else{
        //     $('.confirm').addClass(('no-onclick'));
        // }
    }

    function fnSwitchTable(_el) {
        fnSwitchTable_base({
            el: _el
        }, function () {
            fnInput();
        }, true);
    }

    function fnSubmit() {
        var _data = fnGetUsername();
        if (!_data.username) {
            fnToast(fnLanguage_public(_data.msg));
        } else if (!fnValue('#verification_code')) {
            fnToast(fnLanguage_public($('#verification_code').attr('placeholder')));
        } else {
            var _param = {
                url: 'user/index/update_password',
                method: 'POST',
                data: {
                    username: _data.username,
                    country_code: _data.country_code,
                    verification_code: fnValue('#verification_code'),
                }
            }

            if (fnValue('#user_pass')) {
                if (!fnVerify_public('Password').test(fnValue('#user_pass'))) {
                    fnToast(fnLanguage_public($('#user_pass').attr('placeholder')));
                } else {
                    fnCustomMd5_base({
                        data: fnValue('#user_pass')
                    }, function (ret) {
                        _param.data.user_pass = ret.value;
                        _start();
                    })
                }
            } else {
                _start();
            }
        }

        function _start() {
            fnAjax(_param, function (ret) {
                if (ret.code == APP.HTTP_STATUS.SUCCESS) {
                    if (APP._user) {
                        fnClearUser_public(function () {
                            fnToast(fnLanguage_public(ret.msg), function () {
                                fnBackLogin_public();
                            })
                        });
                    } else {
                        fnToast(fnLanguage_public(ret.msg), function () {
                            fnClose();
                        })
                    }
                } else {
                    fnToast(fnLanguage_public(ret.msg));
                }
            })
        }
    }

    function fnGetUsername() {

        if ($(APP.dom('.tab-phone[data-class="sw-mobile"]')).hasClass('clickP')) {

            return {
                username: fnValue('#mobile'),
                country_code: $('#country_code').attr('data-id'),
                msg: $('#mobile').attr('placeholder'),
                isMobile: APP.YES
            }
        } else {

            return {
                username: fnValue('#email'),
                msg: $('#email').attr('placeholder'),
                isMobile: APP.NO
            }
        }
    }

    function fnChoiceRedio() {
        fnChoiceRedio_base({
            default: fnValue('#country_code'),
            data: APP.COUNTRY_JSON
        }, function (ret) {
            fnSetCountryFix(ret);
        })
    }

    function fnSetCountryFix(_data) {
        fnValue('#country_code', _data.value);
        $('#country_code').attr('data-id', _data.id);
    }

    function fnClear(_el) {
        var _input = $(_el).parent().find('input');
        fnValue(_input[0], '');
        fnInput();
    }

    function fnSendCode(_el) {

        var _data = fnGetUsername();
        if (!_data.username) {
            fnToast(_data.msg);
        } else {
            fnGetSmsCode_base({
                username: [_data.isMobile ? _data.country_code : '', _data.username].join(''),
                find_country_code: _data.isMobile ? APP.YES : APP.NO
            }, function (ret) {
                fnCount_base(_el, 60);
            });
        }
    }
</script>

</html>
