<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no" />
    <link rel="stylesheet" type="text/css" href="../../css/openingRegiment.css" />
</head>
<body>
    <div class="main" id="wrap">
        <!-- <div class="content">
            <div class="coupon-img">
                <div class="img"></div>
                默认去参团,已参团加join,已成团加clustering
                <div class="con">
                    <div class="shop" tapmode="hover" onclick="fnOpen('home/storeDetails_win.html')"><span class="photo"></span>西单大悦成新月美食街喜茶店</div>
                    <div class="coupon" tapmode="hover" onclick="fnOpen('assemble/joinDelegation_win.html')">
                        <div class="coupon-item">
                            <div class="price">
                                <p class="num">￡<span class="size">20</span></p>
                                <div class="time">
                                    <span class="number">78<span class="gap"></span></span>
                                    <span class="number">58<span class="gap"></span></span>
                                    <span class="number">03</span>
                                </div>
                            </div>
                            <div class="message">
                                <div class="message-item">
                                    <p class="shop-name">西单大悦城美食城</p>
                                    <div class="base">
                                        <p class="market-price">
                                            <span class="market">套餐券</span>
                                        </p>
                                        <p class="subtitle">门市价：￡100</p>
                                        <p class="time">2019.01.04 - 2019.01.03有效</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offered">
                        <div class="offered-box">
                            <div class="offered-item">
                                <p class="people">已参团1人，还差4人</p>
                                <div class="progress">
                                    <div class="prog"></div>
                                </div>
                            </div>
                            <span class="group" tapmode="hover" onclick="fnOpen('assemble/joinDelegation_win.html')">去参团</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="coupon-img">
                <div class="img"></div>
                <div class="con join">
                    <div class="shop" tapmode="hover" onclick="fnOpen('home/storeDetails_win.html')"><span class="photo"></span>西单大悦成新月美食街喜茶店</div>
                    <div class="coupon" tapmode="hover" onclick="fnOpen('assemble/joinDelegation_win.html')">
                        <div class="coupon-item">
                            <div class="price">
                                <p class="num">￡<span class="size">20</span></p>
                                <div class="time">
                                    <span class="number">78<span class="gap"></span></span>
                                    <span class="number">58<span class="gap"></span></span>
                                    <span class="number">03</span>
                                </div>
                            </div>
                            <div class="message">
                                <div class="message-item">
                                    <p class="shop-name">西单大悦城美食城</p>
                                    <div class="base">
                                        <p class="market-price">
                                            <span class="market">套餐券</span>
                                        </p>
                                        <p class="subtitle">门市价：￡100</p>
                                        <p class="time">2019.01.04 - 2019.01.03有效</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offered">
                        <div class="offered-box">
                            <div class="offered-item">
                                <p class="people">已参团1人，还差4人</p>
                                <div class="progress">
                                    <div class="prog"></div>
                                </div>
                            </div>
                            <span class="group" tapmode="hover" onclick="fnOpen('assemble/joinDelegation_win.html')">已参团</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="coupon-img">
                <div class="img"></div>
                <div class="con clustering">
                    <div class="shop" tapmode="hover" onclick="fnOpen('home/storeDetails_win.html')"><span class="photo"></span>西单大悦成新月美食街喜茶店</div>
                    <div class="coupon" tapmode="hover" onclick="fnOpen('assemble/joinDelegation_win.html')">
                        <div class="coupon-item">
                            <div class="price">
                                <p class="num">￡<span class="size">20</span></p>
                                <div class="time">
                                    <span class="number">78<span class="gap"></span></span>
                                    <span class="number">58<span class="gap"></span></span>
                                    <span class="number">03</span>
                                </div>
                            </div>
                            <div class="message">
                                <div class="message-item">
                                    <p class="shop-name">西单大悦城美食城</p>
                                    <div class="base">
                                        <p class="market-price">
                                            <span class="market">套餐券</span>
                                        </p>
                                        <p class="subtitle">门市价：￡100</p>
                                        <p class="time">2019.01.04 - 2019.01.03有效</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offered">
                        <div class="offered-box">
                            <div class="offered-item">
                                <p class="people">已参团1人，还差4人</p>
                                <div class="progress">
                                    <div class="prog"></div>
                                </div>
                            </div>
                            <span class="group" tapmode="hover" onclick="fnOpen('assemble/joinDelegation_win.html')">已成团</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>

    <script type="text/html" id="wrap-template">
        <div class="content hide" id="list"></div>

        <div id="no-data" class="hide">{{'暂无数据' | fnLanguage_public}}</div>
    </script>


    <script type="text/html" id="list-template">
        {{each _list}}
            <div tapmode="hover" onclick="fnJump_base('assemble/joinDelegation_win.html', {{$value.id}})" class="coupon-img">
                <div data-img-url="{{$value | fnGetCouponImage_base}}" data-img-type="!watermark" class="img"></div>
                <div class="con">

                    {{if $value.store && $value.store.id}}
                        <div class="shop">
                            <span data-img-url="{{$value.store | fnGetStoreImage_base}}" data-img-type="!avatar" class="photo"></span>
                            {{$value.store | fnShowUserNickname_base}}
                        </div>
                    {{/if}}

                    <div class="coupon">
                        <div class="coupon-item">
                            <div class="price">
                                <p class="num">
                                    ￡<span class="size">{{$value.coupon.price_group | fnGetMaxPrice_base}}</span>
                                </p>
                                <div class="time
                                    {{if $value.status == GROUP.status.in.id}}
                                        js-count-down
                                    {{/if}}
                                " data-count-down="{{$value.expire_time_temp}}" data-count-down-end-execution-function="fnInit">

                                    <span class="number"><span class="js-hour">0</span><span class="gap"></span></span>
                                    <span class="number"><span class="js-minute">0</span><span class="gap"></span></span>
                                    <span class="number"><span class="js-second">0</span></span>
                                </div>
                            </div>
                            <div class="message">
                                <div class="message-item">
                                    <p class="shop-name">{{$value.coupon.name}}</p>
                                    <div class="base">
                                        <p class="market-price">
                                            <span class="market">{{ {'target': $value.coupon.type, 'key': 'id', 'resKey': 'name', 'data': COUPON.type} | fnGetRelation_public }}</span>
                                        </p>
                                        <p class="subtitle">{{'门市价' | fnLanguage_public}}：￡{{$value.coupon.price}}</p>
                                        <p class="time">
                                            {{$value.coupon | fnGetCouponDateMsg_base}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="offered">
                        <div class="offered-box">
                            <div class="offered-item">
                                <p class="people">{{'已参团' | fnLanguage_public}}
                                    {{$value.participants}}
                                    {{'人' | fnLanguage_public}}，{{'还差' | fnLanguage_public}}
                                    {{$value.coupon.price_group.length - $value.participants}}
                                {{'人' | fnLanguage_public}}</p>
                                <div class="progress">
                                    <div style="width: {{$value.participants / $value.coupon.price_group.length * 100}}%" class="prog"></div>
                                </div>
                            </div>

                            {{if $value.status == GROUP.status.in.id}}
                                <!-- 默认去参团,已参团加join,已成团加clustering -->
                                {{if $value.is_join}}
                                    <span class="group join" >{{'已参团' | fnLanguage_public}}</span>
                                {{else}}
                                    <span class="group">{{'去参团' | fnLanguage_public}}</span>
                                {{/if}}
                            {{else}}
                                <span class="group clustering">{{'已成团' | fnLanguage_public}}</span>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </script>
</body>
<script type="text/javascript" src="../../framework/template-web.js"></script>
<script type="text/javascript" src="../../framework/zepto.min.js"></script>
<script type="text/javascript" src="../../script/language.js"></script>
<script type="text/javascript" src="../../script/public.js"></script>
<script type="text/javascript" src="../../script/base.js"></script>
<script type="text/javascript">
    // 页面初始化
    APP.init(function(){
        fnValue('#wrap', template('wrap-template', APP));

        fnInit();
        fnRefresh(function(){
            //                      下拉以后则会触发该回调
            fnInit();
        });

        api.addEventListener({
            name: APP.EV_NAME.GROUP_UPDATE
        }, function(ret, err){
            fnInit();
        });
    });


    function fnInit(){
        APP.PAGE.START_PAGE = APP.PAGE.START_PAGE_TEMP;
        fnGet();
    }


    function fnGet(){
        var _param = {
            url: 'order/group/index',
            data: {
                page: APP.PAGE.START_PAGE,
                limit: APP.PAGE.SKIP_PAGE,
                coupon_id: APP._param.id,
                status: 1
            }
        }
        if( APP._keyword ){
            _param.data.keyword = APP._keyword;
        }
        if( APP._category_ids ){
            _param.data.category_ids = APP._category_ids;
        }
        fnGetList_base(_param, function(ret){
            if( ret.evType == 'scrolltobottom' ){
                fnGet();
            }
        })
    }
</script>
</html>
