@charset 'utf-8';
@import "public/_config.scss";
body{
    position: relative;
    height: 100%;
    background-color: #F7F6F6;
    .main{
        .content{
            .content-center{
                @include flex-box();
                padding-top: pxToRem(40);
                padding-bottom: pxToRem(60);
                width: pxToRem(2400);
                margin: 0 auto;

                .right{
                    @include flex-item();
                    background-color: #fff;
                    box-shadow:0px 4px 8px 0px rgba(0,0,0,0.06);
                    .box{
                        border-bottom: pxToRem(2) solid #EAEAEA;
                        .box-wrap{
                            overflow: hidden;
                        }
                        .item{
                            float: left;
                            position: relative;
                            padding: pxToRem(34) pxToRem(60) pxToRem(44);
                            text-align: center;
                            font-size: pxToRem(28);
                            color: #666;
                            line-height: pxToRem(40);
                            &.active{
                                color: #333;
                                &::after{
                                    content: '';
                                    display: block;
                                    position: absolute;
                                    left: 50%;
                                    bottom: pxToRem(8);
                                    @include prefixCss3($property: transform, $value: translateX(-50%));
                                    width: pxToRem(56);
                                    height: pxToRem(16);
                                    @include set-bg-img( $name: "web-sel1.png", $size: pxToRem(56) auto, $position: center center);
                                };
                            }
                        }
                    }
                    .code{
                        margin: pxToRem(62) auto;
                        width: pxToRem(680);
                        padding: pxToRem(78) 0;
                        border-radius: pxToRem(16);
                        box-shadow:0px 8px 16px 0px rgba(42,42,42,0.1);  
                        .code-top{
                            @include flex-box();
                            margin-left: pxToRem(80);
                            margin-bottom: pxToRem(68);
                            .photo{
                                width: pxToRem(96);
                                height: pxToRem(96);
                                margin-right: pxToRem(32);
                                border-radius: 50%;
                                @include set-bg-img( $name: "web-photo.png");
                            }
                            .message{
                                @include flex-item();
                                font-size: pxToRem(32);
                                color: #333;
                                line-height: pxToRem(44);
                                .name{
                                    padding-bottom: pxToRem(8);
                                    @include text-overflow(1);
                                    @extend .font-m;
                                }
                                .id{
                                    @include text-overflow(1);
                                }
                            }
                        }
                        .code-img{
                            width: pxToRem(520);
                            height: pxToRem(520);
                            margin: 0 auto;
                            @include set-bg-img( $name: "icon-background1.png");
                        }
                    }
                }
            } 
            
        }
    }
      
}
